body {
  color: white;
  background-color: #000000;
  box-sizing: border-box;
}

button {
  border: 1px solid #ffffffad;
  border-radius: 100%;
  background-color: #0000004c;
  color: #ffffffad;
  padding: 6px 10px;
  z-index: 100;
  cursor: pointer;
}

#next {
  position: absolute;
  top: 50vh;
  right: 5vw;
}

#previous {
  position: absolute;
  top: 50vh;
  left: 5vw;
}

#Thumbnail-container {
  height: 60px;
  width: auto;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #00000075;
  bottom: 3vh;
  left: 50%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  backdrop-filter: blur(5px);
  transform: translateX(-50%);
}

.thumbnail-hide-button {
  bottom: 13vh;
  width: auto;
  padding: 0px 7px 1px 7px;
  height: auto;
  overflow: hidden;
}

.thumb-image {
  width: 100px;
}

.displayedImage {
  object-fit: cover;
}
